TELEGRAM_BOT_TOKEN=
OPENAI_API_KEY=
BOT_USERNAME=@ManbaAI_bot
BOT_NAME=ManbaAI
ADMIN_USER_IDS=
ADMIN_CONTACT_USERNAME=@ManbaAI_admin
DEFAULT_LANGUAGE=uz
OPENAI_CHAT_MODEL=gpt-4o-mini
OPENAI_EMBED_MODEL=text-embedding-3-small
OPENAI_TRANSCRIBE_MODEL=gpt-4o-mini-transcribe
OPENAI_VISION_MODEL=gpt-4o-mini
BASIC_PRICE_UZS=12000
PREMIUM_PRICE_UZS=25000
BASIC_DAILY_LIMIT=20
PREMIUM_DAILY_LIMIT=1000
FREE_DAILY_LIMIT=3
CLICK_BASIC_URL=
CLICK_PREMIUM_URL=
STARS_BASIC_AMOUNT=120
STARS_PREMIUM_AMOUNT=250
